# Exploratory Data Analysis (EDA)

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
main_db = pd.read_csv(r'FIES2018 Datasets/2018 PSA FIES Microdata.csv')

In [10]:
main_db

,Region,Province,Sequence no.,Family SIze,Salaries/Wages from Regular Employment,Salaries/Wages from Seasonal Employment,Salaries/Wages from both Agri and Non-Agri Activities,"Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)","Cash Receipts, Support, etc. from Abroad","Cash Receipts, Support, etc. from Domestic Source",...,Replicate,Base Weight,Final Weight,Final Weight - Population,NTOIN,RTOIN,PTOINC,NPCINC,RPCINC,pPCINC
0,1,28,1,1.0,0,0,0,0,228384,0,...,51,93.764,97.7504,100.023869,7,7,6,10,10,10
1,1,28,2,6.0,0,79800,79800,0,0,33200,...,51,93.764,97.7504,100.023869,3,3,2,2,1,1
2,1,28,3,3.0,86840,32710,119550,0,0,9000,...,51,93.764,97.7504,100.023869,4,3,3,5,5,4
3,1,28,4,4.0,0,0,0,55250,480000,69000,...,51,93.764,97.7504,100.023869,10,10,10,10,10,9
4,1,28,5,3.0,101896,34000,135896,0,0,19000,...,51,93.764,97.7504,100.023869,6,7,6,8,8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147712,17,59,147713,2.5,159400,26667,186067,5900,19000,66000,...,37,41.539,41.7227,41.369701,8,9,10,9,10,10
147713,17,59,147714,7.0,5400,0,5400,0,0,36000,...,37,41.539,41.7227,41.369701,4,6,7,2,2,3
147714,17,59,147715,3.0,867671,0,867671,0,0,0,...,37,41.539,41.7227,41.369701,10,10,10,10,10,10
147715,17,59,147716,6.0,29500,2000,31500,0,0,18500,...,37,41.539,41.7227,41.369701,1,1,1,1,1,1
147716,17,59,147717,4.5,0,44000,44000,0,17000,10500,...,37,41.539,41.7227,41.369701,4,5,7,3,4,5

In [11]:
main_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147717 entries, 0 to 147716
Data columns (total 85 columns):
 #   Column                                                            Non-Null Count   Dtype
---  ------                                                            --------------   -----
 0   Region                                                            147717 non-null  int64
 1   Province                                                          147717 non-null  int64
 2   Sequence no.                                                      147717 non-null  int64
 3   Family SIze                                                       147717 non-null  float64
 4   Salaries/Wages from Regular Employment                            147717 non-null  int64
 5   Salaries/Wages from Seasonal Employment                           147717 non-null  int64
 6   Salaries/Wages from both Agri and Non-Agri Activities             147717 non-null  int64
 7   Net Share of Crops, Fruits, etc. (Tot. Net Value of Share)        147717 non-null  int64
 8   Cash Receipts, Support, etc. from Abroad                          147717 non-null  int64
 9   Cash Receipts, Support, etc. from Domestic Source                 147717 non-null  int64
 10  Rentals Received from Non-Agri Lands, etc.                        147717 non-null  int64
 11  Interest                                                          147717 non-null  int64
 12  Pension and Retirement Benefits                                   147717 non-null  int64
 13  Dividends from Investment                                         147717 non-null  int64
 14  Other Sources of Income NEC                                       147717 non-null  int64
 15  Family Sustenance Activities                                      147717 non-null  int64
 16  Total Received as Gifts                                           147717 non-null  int64
 17  Crop Farming and Gardening                                        147717 non-null  int64
 18  Livestock and Poultry Raising                                     147717 non-null  int64
 19  Fishing                                                           147717 non-null  int64
 20  Forestry and Hunting                                              147717 non-null  int64
 21  Wholesale and Retail                                              147717 non-null  int64
 22  Manufacturing                                                     147717 non-null  int64
 23  Community, Social, etc. Services                                  147717 non-null  int64
 24  Transportation, Storage Services                                  147717 non-null  int64
 25  MIning and Quarrying                                              147717 non-null  int64
 26  Construction                                                      147717 non-null  int64
 27  Entrep. Activities NEC                                            147717 non-null  int64
 28  Total Income from Entrepreneurial Acitivites                      147717 non-null  int64
 29  Total Income                                                      147717 non-null  int64
 30  Losses from EA                                                    147717 non-null  int64
 31  Bread and Cereals                                                 147717 non-null  int64
 32  Meat                                                              147717 non-null  int64
 33  Fish and Seafood                                                  147717 non-null  int64
 34  Milk, Cheese and Eggs                                             147717 non-null  int64
 35  Oils and Fats                                                     147717 non-null  int64
 36  Fruit                                                             147717 non-null  int64
 37  Vegetables                                                        147717 non-null  int64
 38  Sugar, Jam and Honey, Chocolate and Confetionery                  147717 non-null  int64
 39  Food Products Not Elsewhere Classified                            147717 non-null  int64
 40  Coffee, Tea and Cocoa                                             147717 non-null  int64
 41  Mineral Water, Softdrinks, Fruit and Vegetable Juices             147717 non-null  int64
 42  Alcoholic Beverages                                               147717 non-null  int64
 43  Tobacco                                                           147717 non-null  int64
 44  Other Vegetable-Based Products                                    147717 non-null  int64
 45  Total Food Consumed at Home (Total)                               147717 non-null  int64
 46  Food Regularly Consumed Outside The Home (Total)                  147717 non-null  int64
 47  Total Food Expeditures                                            147717 non-null  int64
 48  Clothing and Footwear                                             147717 non-null  int64
 49  Furnishings and Routine Household Maintenance                     147717 non-null  int64
 50  Health                                                            147717 non-null  int64
 51  Housing, Water, Electricity, Gas and Other Fuels                  147717 non-null  int64
 52  Actual House Rent                                                 147717 non-null  int64
 53  House Rent/Rental Value                                           147717 non-null  int64
 54  Imputed House Rental Value                                        147717 non-null  int64
 55  Imputed Housing Benefit Rental Value                              147717 non-null  int64
 56  Transport                                                         147717 non-null  int64
 57  Communication                                                     147717 non-null  int64
 58  Recreation and Culture                                            147717 non-null  int64
 59  Education                                                         147717 non-null  int64
 60  Miscellaneous Goods and Services                                  147717 non-null  int64
 61  Durable Furniture and Equipment                                   147717 non-null  int64
 62  Special Family Occasion                                           147717 non-null  int64
 63  Other Expenditure (inc. Value Consumed, Losses)                   147717 non-null  int64
 64  Other Disbursements                                               147717 non-null  int64
 65  Food Regularly Consumed Outside The Home - Accomodation Services  147717 non-null  int64
 66  Total Non-Food Expenditure                                        147717 non-null  int64
 67  Total Expenditure                                                 147717 non-null  int64
 68  Total Disbursements                                               147717 non-null  int64
 69  Total Other Receipts                                              147717 non-null  int64
 70  Total Receipts                                                    147717 non-null  int64
 71  Per Capita Income                                                 147717 non-null  float64
 72  Urban / Rural                                                     147717 non-null  int64
 73  Province (Recode)                                                 147717 non-null  int64
 74  Psu (Recode)                                                      147717 non-null  int64
 75  Replicate                                                         147717 non-null  int64
 76  Base Weight                                                       147717 non-null  float64
 77  Final Weight                                                      147717 non-null  float64
 78  Final Weight - Population                                         147717 non-null  float64
 79  NTOIN                                                             147717 non-null  int64
 80  RTOIN                                                             147717 non-null  int64
 81  PTOINC                                                            147717 non-null  int64
 82  NPCINC                                                            147717 non-null  int64
 83  RPCINC                                                            147717 non-null  int64
 84  pPCINC                                                            147717 non-null  int64
dtypes: float64(5), int64(80)
memory usage: 95.8 MB